# Ansible Managed!
allow-hotplug {{ iptv_analyzer_collector_interface }}.{{ item.key }}
{% if item.value.ipv4_cidr == 'dhcp' %}
iface {{ iptv_analyzer_collector_interface }}.{{ item.key }} inet dhcp
{% else %}
iface {{ iptv_analyzer_collector_interface }}.{{ item.key }} inet static
    address   {{ item.value.ipv4_cidr | ipaddr('address') }}
    network   {{ item.value.ipv4_cidr | ipaddr('network') }}
    netmask   {{ item.value.ipv4_cidr | ipaddr('netmask') }}
    broadcast {{ item.value.ipv4_cidr | ipaddr('broadcast') }}
{% endif %}
